[submodule "third_party/monitoreo-de-temperatura"]
	path = third_party/monitoreo-de-temperatura
	url = git@github.com:ErikaGarciaR/monitoreo-de-temperatura.git
[submodule "third_party/proyect_snd_cuatri"]
	path = third_party/proyect_snd_cuatri
	url = git@github.com:RamonEstradaM/proyect_snd_cuatri.git
